<tr class="odd gradeX album" id="{{id}}">
    <td>{{albumartist}}</td>
    <td>{{album}}</td>
    <td>{{genre}}</td>
    <td class="center">{{label}}</td>
    <td class="center">{{year}}</td>
    <td class="center">{{added_formatted}}</td>
</tr>
