<tr class="odd gradeX">
    <td>{{albumartist}}</td>
    <td>{{album}}</td>
    <td>{{genre}}</td>
    <td class="center">{{label}}</td>
    <td class="center">{{year}}</td>
    <td class="center">{{added}}</td>
</tr>
