<div id="albumDetail">
    <dl class="dl-horizontal">
        <dt>Artist</dt>
        <dd>{{albumartist}}</dd>
        <dt>Album</dt>
        <dd>{{album}}</dd>
        <dt>Track Total</dt>
        <dd>{{tracktotal}}</dd>
        <dt>Genre</dt>
        <dd>{{genre}}</dd>
        <dt>Year</dt>
        <dd>{{year}}</dd>
    </dl>
</div>
