<tr class="odd gradeX song" id="{{id}}">
    <td> {{artist}} </td>
    <td>{{album}}</td>
    <td>{{title}}</td>
    <td class="center">{{added_formatted}}</td>
    <td class="center">{{year}}</td>
</tr>
