<div id="songDetail">
    <dl class="dl-horizontal">
        <dt>Artist</dt>
        <dd>{{artist}}</dd>
        <dt>Artist Sort</dt>
        <dd>{{artist_sort}}</dd>
        <dt>Album</dt>
        <dd>{{album}}</dd>
        <dt>Album Artist</dt>
        <dd>{{albumartist}}</dd>
        <dt>Album Artist Sort</dt>
        <dd>{{albumartist_sort}}</dd>
        <dt>Track</dt>
        <dd>{{track}}</dd>
        <dt>Track Total</dt>
        <dd>{{tracktotal}}</dd>
        <dt>Disc</dt>
        <dd>{{disc}}</dd>
        <dt>Title</dt>
        <dd>{{title}}</dd>
        <dt>Genre</dt>
        <dd>{{genre}}</dd>
        <dt>Label</dt>
        <dd>{{label}}</dd>
        <dt>Country</dt>
        <dd>{{country}}</dd>
        <dt>Language</dt>
        <dd>{{language}}</dd>
        <dt>Bpm</dt>
        <dd>{{bpm}}</dd>
        <dt>Bitrate</dt>
        <dd>{{bitrate}}</dd>
        <dt>Format</dt>
        <dd>{{format}}</dd>
    </dl>
</div>
